<template>
  <img alt="Vue logo" src="./assets/logo.png" />
  <p>TEST</p>
  <form>
    <button type="button" id="omise-pay" @click="handleClick">PAY</button>
  </form>
</template>

<script>
let OmiseCard;
export default {
  name: "App",
  mounted() {
    this.handleLoadScript();
  },
  methods: {
    handleLoadScript() {
      let recaptchaScript = document.createElement("script");
      recaptchaScript.setAttribute("src", "https://cdn.omise.co/omise.js");
      document.head.appendChild(recaptchaScript);
    },
    handleClick() {
      OmiseCard = window.OmiseCard;
      OmiseCard.configure({
        publicKey: "pkey_test_5nqd8wxncw39u8v17jk",
        currency: "THB",
      });
      console.log(`OmiseCard`, OmiseCard);

      OmiseCard.configureButton("#omise-pay", {
        publicKey: "pkey_test_5nqd8wxncw39u8v17jk",
        buttonLabel: "Pay 300 USD",
      });

      OmiseCard.attach();

      OmiseCard.open({
        amount: 10000,
        frameDescription: 'Invoice #3847',
        submitFormTarget: "#checkout-form",
        onCreateTokenSuccess: (token) => {
          /* Handler on token or source creation.  Use this to submit form or send ajax request to server */
          console.log("DONE!");
          console.log(`token`, token);
        },
        onFormClosed: () => {
          /* Handler on form closure. */
          console.log("CLOSE!");
        },
      });
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
